.head_div {
  position: relative;
}

.coo_text {
    background: #F4F5F9;
    border-radius: 20px;
}
.coo_text p {
    color: #000000;
    font-weight: 500;
}

.coo_item {
    display: flex;
    flex-direction: row;
}
.coo_item h2 {
    color: #2C343E;
    letter-spacing: 0;
    font-weight: 500;
}
.coo_item p {
    color: #6F7781;
    font-weight: 400;
}


.app_car {
    background-size: cover;
    background-image: url(../img/app_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.app_div > div {
    flex: 1;
}
.app_div h1 {
    color: #222222;
    font-weight: 700;
    padding-bottom: 12px;
}
.app_div p {
    opacity: 0.6;
    color: #000000;
    font-weight: 400;
    padding-bottom: 16px;
}
.app_link {
    display: flex;
    flex-direction: row;
    margin-top: 17px;
}
.app_link_item {
    flex: 1;
}
.app_link img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.mission_car {
    background-image: url(../img/mission_bg.png),linear-gradient(226deg, #6B42FF 0%, #50BEFF 100%);
    background-repeat: no-repeat,no-repeat;
    background-position: right bottom,center bottom;
}
.card_item {
    flex: 1;
    background: rgba(255,255,255,0.90);
    border: 2px solid #8E90FF;
    border-radius: 20px;
    text-align: center;
}
.card_item img {
    width: 170px;
    height: 170px;
    margin-bottom: 21px;
}
.card_item p {
    color: #222222;
    text-align: center;
    font-weight: 500;
}

.mission_text p {
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
}
.min_card {
    display: flex;
    flex-direction: row;
}
.min_card div {
    flex: 1;
    cursor: pointer;
}
.min_card img{
    width: 100%;
}


.scenes_item {
    display: flex;
    flex-direction: row;
}
.scenes_left {
    flex: 2.5;
    text-align: right;
}
.scenes_right {
    flex: 2.5;
    text-align: left;
}
.scenes_item {
    flex: 2;
}
.scenes_item  img {
    width: 43px;
    height: 43px;
    margin: 0 30px;
}
.scenes_item h2 {
    color: #222222;
    font-weight: 700;
}
.scenes_item p {
    opacity: 0.7;
    color: #222222;
    font-weight: 400;
}
.scenes_img img {
    width: 100%;
}

.news_item {
    box-shadow: 0px 11px 30px 0px rgba(0,25,57,0.07);
    border-radius: 20px;
    overflow: hidden;
    flex:1;
}

.news_item h2 {
    color: #222222;
    font-weight: 700;
}
.news_item p {
    color: #43484C;
    font-weight: 400;
}
.news_item > div {
    text-align: right;
}
.news_item > div span {
    color: #222222;
    font-weight: 700;
}

.segmentation {
    background-size: cover;
    background-image: url(../img/head_min_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.segmentation p {
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
}


@media screen and (max-width:1100px) {
    .coo_car {
        padding: 50px 0;
    }
    .coo_text {
        padding: 21px 15px 21px 20px;
        margin-bottom: 15px;
        margin-top: 18px;
    }
    .coo_text p {
        font-size: 18px;
        line-height: 27px;
    }
    .coo_item {
        padding: 15px 0;
    }
    .coo_item img {
        width: 86px;
        height: 85px;
    }
    .coo_item h2 {
        font-size: 22px;
    }
    .coo_item p {
        font-size: 16px;
    }

    .app_car {
        padding: 56px 0;
    }
    .app_div > div > img {
        width: 80px;
        height: 80px;
        margin-bottom: 16px;
    }
    .app_div h1 {
        font-size: 26px;
    }
    .app_div p {
        font-size: 16px;
        line-height: 21px;
    }
    .app_link_item {
        height: 53px;
    }

    .mission_car {
        padding-top: 56px;
        padding-bottom: 25px;
        background-size: 271px, 100% 60%;
    }
    .mission_card {
        padding-top: 38px;
    }
    .card_item {
        padding: 40px 17px 28px;
        margin: 10px 20px;
    }
    .card_item p {
        font-size: 18px;
        line-height: 27px;
    }
    .mission_text {
        padding-top: 21px;
        padding-bottom: 36px;
    }
    .mission_text p {
        font-size: 22px;
    }
    .min_card {
        margin-left: -8px;
        margin-right: -8px;
    }
    .min_card div {
        margin: 8px;
    }

    .scenes_car {
        padding-top: 56px;
    }
    .scenes_div {
        padding-top: 27px;
        padding-bottom: 50px;
    }
    .scenes_item {
        padding-top: 30px;
    }
    .scenes_item h2 {
        font-size: 22px;
        line-height: 25px;
        padding-bottom: 10px;
    }
    .scenes_item p {
        font-size: 14px;
        line-height: 19px;
    }
    .scenes_img {
        padding: 20px;
    }

    .news_car {
        padding-top: 29px;
        padding-bottom: 28px;
    }
    .news_item {
        margin: 25px 30px 0;
    }
    .news_item > img {
        width: 100%;
        height: 226px;
    }
    .news_item h2 {
        font-size: 22px;
        line-height: 25px;
        padding: 18px 15px 6px;
    }
    .news_item p {
        font-size: 14px;
        line-height: 19px;
        padding: 0 15px 19px;
    }
    .news_item > div {
        margin: 0 15px 15px;
    }
    .news_item > div span {
        font-size: 12px;
        line-height: 25px;
    }

    .segmentation p {
        font-size: 26px;
        padding: 42px 50px;
    }
}

@media screen and (min-width:1100px) {
    .coo_car {
        padding: 99px 0;
    }
    .coo_text {
        padding: 41px 29px 42px 40px;
        margin-bottom: 25px;
        margin-top: 36px;
    }
    .coo_text p {
        font-size: 24px;
        line-height: 35px;
    }

    .coo_item {
        flex: 1;
        padding: 25px 0;
    }
    .coo_item img {
        width: 172px;
        height: 170px;
    }
    .coo_item h2 {
        font-size: 30px;
    }
    .coo_item p {
        font-size: 22px;
    }

    .app_car {
        padding: 151px 0;
    }
    .app_div > div > img {
        width: 120px;
        height: 120px;
        margin-bottom: 16px;
    }
    .app_div h1 {
        font-size: 54px;
    }
    .app_div p {
        font-size: 22px;
        line-height: 34px;
    }
    .app_link_item {
        height: 73px;
    }

    .mission_car {
        padding-top: 157px;
        padding-bottom: 50px;
        background-size: 552px, 100% 60%;
    }
    .mission_card {
        padding-top: 76px;
        margin-left: -10px;
        margin-right: -10px;
    }
    .card_item {
        flex: 1;
        padding: 80px 34px 57px;
        margin: 10px;
    }
    .card_item p {
        font-size: 26px;
        line-height: 34px;
    }
    .mission_text {
        padding-top: 43px;
        padding-bottom: 73px;
    }
    .mission_text p {
        font-size: 50px;
    }
    .min_card {
        margin-left: -15px;
        margin-right: -15px;
    }
    .min_card div {
        margin: 15px;
    }

    .scenes_car {
        padding-top: 125px;
    }
    .scenes_div {
        padding-top: 54px;
        padding-bottom: 100px;
    }
    .scenes_item {
        padding-top: 60px;
    }

    .scenes_item h2 {
        font-size: 36px;
        line-height: 28px;
        padding-bottom: 20px;
    }
    .scenes_item p {
        font-size: 18px;
        line-height: 26px;
    }

    .news_car {
        padding-top: 29px;
        padding-bottom: 58px;
    }
    .news_item {
        margin: 55px 10px 0;
    }
    .news_item > img {
        width: 100%;
        height: 246px;
    }
    .news_item h2 {
        font-size: 26px;
        line-height: 25px;
        padding: 36px 15px 13px;
    }
    .news_item p {
        font-size: 16px;
        line-height: 25px;
        padding: 0 15px 38px;
    }
    .news_item > div {
        margin: 0 15px 30px;
    }
    .news_item > div span {
        font-size: 14px;
        line-height: 25px;
    }

    .segmentation p {
        font-size: 44px;
        padding: 82px 100px;
    }

}
