body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: #333333;
    font-family: -apple-system,BlinkMacSystemFont,Catamaran,sans-serif;
    background-color: #FFFFFF;

}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: normal;
}
a {
    text-decoration:none;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.head_position {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(34,34,34, 0.1);
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.05);
    transition:  0.5s;
    padding: 5px 0;
}

.head_car {
    background-size: cover;
    background-image: url(../img/head_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.head_tab {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tab_left {
    flex: 1;
}
#tab_logo {
    width: 136px;
    height: 40px;
}
.tab_right {
    flex: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.tab_div {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
}
.tab_menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.tab_menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab_menu p {
    font-size: 16px;
    font-weight: 600;
    line-height: 70px;

    text-transform: uppercase;
}
.tab_menu div {
    width: 40px;
    height: 3px;
}

.tab_menu_white p {
    color: rgba(255,255,255,0.5);
}
.tab_menu_white:hover div {
    background: #FFFFFF;
}
.tab_menu_white:hover p {
    color: #FFFFFF;
}

.tab_menu_black p {
    color: rgba(34,34,34,0.50);
}
.tab_menu_black:hover div {
    background: #5489FF;
}
.tab_menu_black:hover p {
    color: #000000;
}


.head_scroll {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 11px 30px 0px rgba(0,25,57,0.07);
}

.link_wallet {
    width: 145px;
    height: 45px;
    border-radius: 23px;
    line-height: 45px;
    background: #5489FF;
    box-shadow: 0px 2px 7px 0px rgba(74,153,233,0.29);
    font-size: 13px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.home_car {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home_car h1 {
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 99;
}
.home_car p {
    opacity: 0.65;
    color: #FFFFFF;
    font-weight: 400;
}
.home_car > div {
    background: #5489FF;
    box-shadow: 0px 3px 11px 0px rgba(74,153,233,0.29);
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    z-index: 99;
}


.heading_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading_div h2 {
    color: #000000;
    font-weight: 700;
    padding-bottom: 8px;
    text-transform: uppercase;
}
.heading_div div {
    background-image: linear-gradient(212deg, #6B42FF 0%, #50BEFF 100%);
}

.claim_car {
    background-size: cover;
    background-image: url(../img/claim_bg.png);
    background-repeat: no-repeat;
}
.subtitle_div {
    background-size: 100% 100%;
    background-image: url(../img/claim_top_bg.png);
    background-repeat: no-repeat;
}
.subtitle_div p {
    color: #000000;
    font-weight: 500;
}

.claim_div {
    background-size: 100% 100%;
    background-image: url(../img/claim_bottom_bg.png);
    background-repeat: no-repeat;
}
.step_item {
    flex: 1;
    padding-bottom: 37px;
}
.step_title {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.step_title > div {
    background: #5489FF;
}
.step_title > p {
    color: #222222;
    font-weight: 700;
    text-transform: uppercase;
}
.step_text {
    color: #222222;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 22px;
    
}
.step_min_text {
    color: #222222;
    font-weight: 700;
}

.btn_div {
    text-align: center;
    font-weight: 600;
}
.deposit_btn {
    color: #FFFFFF;
    background: #5489FF;
    cursor: pointer;
    box-shadow: 0px 2px 8px 0px rgba(74,153,233,0.29);
}
.enable_btn {
    color: #5489FF;
    border: 1px solid #5489FF;
}

.openSea_div {
    padding-top: 13px;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(151,151,151,0.2)
}
.openSea_item {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
}
.openSea_item > div {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.openSea_item img {
    width: 23px;
    height: 23px;
    margin-right: 8px;
}
.openSea_item span {
    opacity: 0.8;
    color: #000;
    font-weight: 700;
}
.openSea_item p {
    opacity: 0.5;
    color: #000;
    font-weight: 400;
}

.openSea_reward {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.openSea_reward > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.openSea_reward img {
    margin-right: 10px;
}
.openSea_reward span {
    color: #222222;
    font-weight: 700;
    margin-right: 10px;
}


.what_car {
    background-size: cover;
    background-image: url(../img/what_bg.png);
    background-repeat: no-repeat;
}
.what_left_div {
    flex: 1;
}
.what_left_div h2 {
    color: #222222;
    font-weight: 700;
}
.what_left_div p {
    opacity: 0.7;
    color: #000000;
    font-weight: 400;
}
.what_right_div {
    flex:1;
}
.what_right_div img{
    width: 100%;
}

.pie_chart_div {

}
.pie_chart_div > div {
    flex: 1;
}

.pie_chart_item {
    box-shadow: 0px 11px 30px 0px rgba(0,25,57,0.07);
    border-radius: 20px;
}
.pie_chart_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie_chart_item h2 {
    color: #5489FF;
    font-weight: 700;
    padding-bottom: 6px;
}
.pie_chart_item p {
    color: #222222;
    font-weight: 500;
    padding-bottom: 15px;
}
.pie_chart_item span {
    opacity: 0.6;
    color: #000000;
    font-weight: 400;
}

.partner_car .heading_div {
    margin-bottom: 46px;
}

.partner_item {
   flex: 1;
   margin-left: 10px;
    margin-top: 10px;
}
.partner_item img{
    width: 100%;
}

.link_car {
    padding-top: 29px;
    padding-bottom: 40px;
}
.link_div {
    margin-top: 41px;
}
.link_item {
    flex: 1;
    cursor: pointer;
}
.link_item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration:none;
}
.link_item img {
    width: 100%;
}
.link_item p {
    color: #333333;
    font-weight: 700;
}

.footer_car p {
    color: #666666;
    text-align: center;
    line-height: 26px;
    font-weight: 400;
}




@media screen and (max-width:1100px) {
    .wrapper, .wrapper7, .wrapper12 {
        width: 100%;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .row_column {
        display: flex;
        flex-direction: column;
    }

    .tab_div {
        display: none;
    }

    .home_car {
        padding-top: 119px;
        padding-bottom: 89px;
    }
    .home_car h1 {
        font-size: 30px;
        margin-bottom: 21px;
    }
    .home_car p {
        font-size: 14px;
        padding: 0 30px;
        margin-bottom: 34px;
    }
    .home_car > div {
        width: 149px;
        height: 45px;
        line-height: 45px;
        font-size: 16px;
        border-radius: 23px;
    }

    .claim_car {
        padding-top: 20px;
        padding-bottom: 21px;
    }
    .subtitle_div {
        padding: 22px 25px 38px 25px;
        margin-top: 26px;
    }
    .subtitle_div p {
        font-size: 18px;
        line-height: 27px;
        padding-bottom: 35px;
    }

    .claim_div {
        padding: 45px 25px 56px 25px;
    }

    .step_title > div {
        width: 3px;
        height: 18px;
    }
    .step_title > p {
        font-size: 22px;
        padding-left: 8px;
    }
    .step_text {
        font-size: 18px;
    }
    .step_min_text {
        font-size: 14px;
    }

    .openSea_item p {
        font-size: 14px;
        line-height: 38px;
    }
    .openSea_item span {
        font-size: 14px;
        line-height: 38px;
    }

    .btn_div {
        width: 140px;
        height: 40px;
        line-height: 37px;
        border-radius: 18px;
        font-size: 14px;
    }

    .openSea_reward {
        margin-top: 18px;
    }
    .openSea_reward span {
        font-size: 14px;
    }

    .what_car {
        padding-top: 63px;
    }
    .what_div {
        padding-bottom: 42px;
    }
    .what_left_div {
        flex: 1;
        padding-bottom: 25px;
    }
    .what_left_div h2 {
        font-size: 28px;
        padding-top: 10px;
    }
    .what_left_div p {
        font-size: 18px;
        line-height: 27px;
        padding-top: 10px;
    }


    .pie_chart_item {
        padding: 15px 15px 35px;
        margin: 0 20px 20px;
    }
    .pie_chart_item h2 {
        font-size: 22px;
    }
    .pie_chart_item p {
        font-size: 18px;
    }
    .pie_chart_item span {
        font-size: 14px;
    }

    .heading_div h2 {
        font-size: 26px;
    }
    .heading_div div {
        width: 36px;
        height: 6px;
        border-radius: 3px;
    }

    .partner_car {
        padding-top: 56px;
        padding-bottom: 20px;
    }

    .link_item {
        padding: 0 50px 20px;
    }
    .link_item img {
        width: 100%;
    }
    .link_item p {
        font-size: 16px;
    }

    .footer_car {
        padding: 30px 0;
    }
    .footer_car p {
        font-size: 14px;
    }
}

@media screen and (min-width:1100px) {
    .wrapper {
        width: 1100px;
        margin: 0 auto
    }
    .wrapper7 {
        width: 742px;
        margin: 0 auto
    }
    .wrapper12 {
        width: 1200px;
        margin: 0 auto
    }
    .row_column {
        display: flex;
        flex-direction: row;
    }

    .head_scroll {
        padding: 0;
    }

    .home_car {
        padding-top: 238px;
        padding-bottom: 178px;
    }
    .home_car h1 {
        font-size: 80px;
        margin-bottom: 21px;
    }
    .home_car p {
        font-size: 22px;
        margin-bottom: 34px;
    }
    .home_car > div {
        width: 239px;
        height: 68px;
        line-height: 68px;
        font-size: 22px;
        border-radius: 34px;
    }

    .claim_car {
        padding-top: 79px;
        padding-bottom: 41px;
    }
    .subtitle_div {
        padding: 44px 50px 76px 49px;
        margin-top: 26px;
    }
    .subtitle_div p {
        font-size: 24px;
        line-height: 35px;
    }

    .claim_div {
        padding: 45px 40px 56px 40px;
    }

    .step_title > div {
        width: 5px;
        height: 22px;
    }
    .step_title > p {
        font-size: 34px;
        padding-left: 10px;
    }
    .step_text {
        font-size: 22px;
    }
    .step_min_text {
        font-size: 18px;
    }

    .openSea_item p {
        font-size: 16px;
        line-height: 43px;
    }
    .openSea_item span {
        font-size: 16px;
        line-height: 43px;
    }

    .btn_div {
        width: 190px;
        height: 48px;
        line-height: 48px;
        border-radius: 24px;
        font-size: 18px;
    }

    .openSea_reward {
        margin-top: 28px;
    }
    .openSea_reward span {
        font-size: 25px;
    }

    .what_car {
        padding-top: 129px;
    }
    .what_div {
        padding-bottom: 85px;
    }
    .what_left_div {
        flex: 1;
        padding-bottom: 25px;
    }
    .what_left_div h2 {
        font-size: 38px;
        padding-top: 15px;
    }
    .what_left_div p {
        font-size: 20px;
        line-height: 30px;
        padding-top: 14px;
    }

    .pie_chart_left {
        text-align: right;
    }
    .pie_chart_item {
        padding: 30px 30px 70px;
        margin-bottom: 30px;
    }
    .pie_chart_item h2 {
        font-size: 40px;
    }
    .pie_chart_item p {
        font-size: 20px;
    }
    .pie_chart_item span {
        font-size: 18px;
        line-height: 25px;
    }

    .heading_div h2 {
        font-size: 54px;
    }
    .heading_div div {
        width: 46px;
        height: 8px;
        border-radius: 8px;
    }

    .partner_car {
        padding-top: 69px;
        padding-bottom: 40px;
    }

    .link_item {
        padding-bottom: 10px;
    }
    .link_item img {
        width: 100%;
    }
    .link_item p {
        font-size: 23px;
    }

    .footer_car {
        padding: 60px 0;
    }
    .footer_car p {
        font-size: 18px;
    }
}
